.actions {
  background: $gray-100;
  border: 1px solid $gray-300;
  padding: 10px 10px 0 10px ;
  display: inline-block;
  border-radius: 10px;
  margin: 0 0 1.5rem 0;
  width: 100%;

  > div {
    display: inline-block;
    margin: 0 1rem 1rem 0;
  }

  .flag a {
    /*
    border: 1px solid $purple;
    border-radius: 20px;
    padding: 5px 10px;
    background: $white;
     */
    box-shadow: none;

    span {
      display: none;
    }

    &:hover {
      /* border: 1px solid scale-lightness($blue, -40%); */
    }

    &:before {
      @include fa-icon;
      @extend .far;
      line-height: 1;
      padding-right: 5px;
    }
  }

  /* save content flag */

  .flag-ngf-save-content a {
    &:before {
      content: fa-content($fa-var-bookmark);
    }
  }

  .flag-ngf-save-content.action-unflag a {
    &:before {
      @extend .fas;
    }
  }

  /* follow content flag */

  .flag-ngf-follow-content a {
    &:before {
      content: fa-content($fa-var-heart);
    }
  }

  .flag-ngf-follow-content.action-unflag a {
    &:before {
      @extend .fas;
    }
  }

  /* report content flag */

  .flag-ngf-report-content.action-unflag a,
  .flag-ngf-report-content.action-flag a {
    &:before {
      @extend .fas;
      content: fa-content($fa-var-exclamation);
    }
  }
}




