.nav--tabs::-webkit-scrollbar{width:2px;height:2px;}
.nav--tabs::-webkit-scrollbar-button{width:2px;height:2px;}

.inpage-nav {
  border-bottom: solid 1px $gray-300;
  margin-bottom: 15px;

  .nav--tabs {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 0 0 0;
    width:100%;
    overflow-x: auto;

    li {
      list-style: none;
      display: block;
      padding: 2px 15px 2px 0;

      a{
        display: block;
        white-space: nowrap;
        box-shadow: none;
        box-shadow: none;
        text-shadow: none;
      }

      a:after{
        content: "";
        display: block;
        height: 0px;
        background-color: $white;
        margin-top: 8px;
        padding: 0 9px;
        margin-bottom: -4px;
        transition: all 0.2s;
      }

      a:hover::after {
        margin-top: 2px;
        height: 5px;
        background-color: #a6a7ab;
        transition: all 0.2s;
      }

      a.is-active {
        color: $text-color;
        font-weight: 600;
      }

      a.is-active::after {
        margin-top: 2px;
        height: 5px;
        background-color: $purple;
        transition: all 0.2s;
      }

      a.is-active:hover {
        cursor: default;
      }
    }
  }

  .nav--tabs.secondary {
    margin-left: 1.5rem;
  }

}

.background--talk .inpage-nav {
  border-bottom: none;
  .nav--tabs {
    padding-left: 0;
  }
}

.tab-content {
  .tab-pane {
    display: none;
  }

  .tab-pane.active {
    display: block;
  }
}
