a.share {
  background: $gray-700 url(../images/share-icons.svg) no-repeat;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  text-shadow: none;
  box-shadow: none;
  
  
  &--facebook {
    background-position: 0 0; 
  }
  &--twitter {
    background-position: -8rem 0; 
  }
  &--linkedin {
    background-position: -4rem 0; 
  }
  &--googleplus {
    background-position: -12rem 0; 
  }
  &--email {
    background-position: -16rem 0; 
  }
}

@media (min-width: 768px) {
  
  a.share {
    width: auto;
    padding-left: 0rem;
    background: none;
    border-radius: 0;
    text-decoration: none;
    box-shadow: none;
    height: auto;
    line-height: 2rem;
    display: flex;
    
    span {
      display: inline-block;
      line-height: 2.5rem;
    }
    
    &:before {
      content: "";
      background: $gray-700 url(../images/share-icons.svg) no-repeat;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      box-shadow: none;
      background-size: 10rem 2rem;
      margin-right: 0.5rem;
      margin-top: 2px;
      flex-shrink: 0;
    }
    
    &:hover::before {
      background-color: $purple;
      trnasition: background-color 0.2s;
    }
    
    &--facebook:before {
    background-position: 0 0; 
    }
    &--twitter:before {
      background-position: -4rem 0; 
    }
    &--linkedin:before {
      background-position: -2rem 0; 
    }
    &--googleplus:before {
      background-position: -6rem 0; 
    }
    &--email:before {
      background-position: -8rem 0; 
    }
  }
}